@{
	ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
	<h2 id="title">@ViewBag.Title</h2>
	<hr />
	<h6>@ViewBag.Message</h6>

	<address>
		3811 Brookdale Ave.<br />
		Ames, IA 50010<br />
		<abbr title="Phone">P:</abbr>
		515.351.8991
	</address>

	<address>
		<strong>Support:</strong>   <a href="mailto:bunda3@yahoo.com">bunda3@yahoo.com</a><br />
		<strong>Marketing:</strong> <a href="mailto:bunda3@yahoo.com">Marketing@example.com</a>
	</address>
</main>