@model WeatherMap.UI.Models.CurrentConditionsVM
@{
	ViewBag.Title = "Home";
}

<main>
	<section class="row g-3" aria-labelledby="currentLocalWeather">

		<div class="col-md-6" id="currentConditionsCard" style="display: none;">
			<div class="card p-0">
				<div class="card-header">
					<h5>Current Conditions</h5>
					@*<p class="m-0">Humidity: @Model.Humidity</p>*@
					<p class="m-0">in your neck of the woods</p>
				</div>
				<div class="card-body" id="currentConditionsContainer">
					@Html.Partial("_CurrentConditions", Model)
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="card p-0 ">
				<div class="card-header">
					<h5>Get Local Forecasts</h5>
					<p class="m-0">Click your location on the map</p>
				</div>
				<div class="card-body p-0">
					<div id="map" style="width:100%; min-height:300px; height:100%"></div>
				</div>
			</div>
		</div>
	</section>

	<h1 id="title">Local Weather Forecasts</h1>
	<p class="lead">Click your location on the map.</p>

	<div class="row">
		<section class="col-md-4" aria-labelledby="gettingStartedTitle">
			<h2 id="gettingStartedTitle">Getting started</h2>
			<p>
				ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
				enables a clean separation of concerns and gives you full control over markup
				for enjoyable, agile development.
			</p>
			<p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
		</section>
		<section class="col-md-4" aria-labelledby="librariesTitle">
			<h2 id="librariesTitle">Get more libraries</h2>
			<p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
			<p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
		</section>
		<section class="col-md-4" aria-labelledby="hostingTitle">
			<h2 id="hostingTitle">Web Hosting</h2>
			<p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
			<p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
		</section>
	</div>
</main>

@section Scripts {
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuVkBnorByEyoNtGrqnQzlyAHSZEXYskI&callback=initMap" async defer></script>
	<script src="~/Scripts/GoogleMaps/googleMaps.js"></script>
}